<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../../../Assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="../../../../Assets/JQuery/jquery-1.9.1.min.js"></script>
    
</head>
<body>
    <div id="mailsub" class="notification" align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 220px;">
            <tr>
                <td align="center" bgcolor="#eff3f8">

                    <!--[if gte mso 10]>
                    <table width="680" border="0" cellspacing="0" cellpadding="0">
                    <tr><td>
                    <![endif]-->
                    <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
                        <tr>
                            <td>
                                <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
                            </td>
                        </tr>
                        <!--header -->
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left">
                                            <!--

                                            Item -->
                                            <div class="mob_center_bl" style="float: left; display: inline-block; width: 115px;">
                                                <table class="mob_center" width="115" border="0" cellspacing="0" cellpadding="0" align="left" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="left" valign="middle">
                                                            <!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
                                                            <table width="115" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" valign="top" class="mob_center">
                                                                        <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                                                                            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">

                                                                                <img src="../../../../Assets/logo/medium.png"  width="150" height="100" alt="CV Konsultan Teknologi Indonesia" border="0" style="display: block;" />
                                                                            </font>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div><!-- Item END-->
                                            <!--[if gte mso 10]>
                                                </td>
                                                <td align="right">
                                            <![endif]-->
                                            <!--

                                            Item -->
                                            <!-- Item END-->
                                        </td>
                                    </tr>
                                </table>
                                <!-- padding --><div style="height: 50px; line-height: 50px; font-size: 10px;"> </div>
                            </td>
                        </tr>
                        <!--header END-->
                        <!--content 1 -->
                        <tr>
                            <td align="center" bgcolor="#fbfcfd">
                                <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                                            <div style="line-height: 44px;">
                                                <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                                                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                                                        Hi Ronald Haddaad
                                                    </span>
                                                </font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
                                                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
                                                        Silahkan mengaktivasi akun anda dengan menekan tombol dibawah ini.
                                                        Segera setelah anda mengaktifkan akun ini, kami akan mengirimkan kata sandi anda lewat surel ini.
                                                        <br />
                                                        <br />
                                                        Please activate your account by pressing the button below.
                                                        As soon as you activate this account, we will send your password via this email.
                                                    </span>
                                                </font>
                                            </div>
                                            <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="line-height: 24px;">
                                                <a href="#" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                                                    <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3" color="#596167">
                                                        <a href="{URL}" class="btn btn-primary">Activation</a>
                                                    </font>
                                                </a>
                                            </div>
                                            <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                       
                        
                        
                        <!--footer -->
                        <tr>
                            <td class="iage_footer" align="center" bgcolor="#ffffff">
                                <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center">
                                            <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
                                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
                                                    <span id="year"></span> © CV Konsultan Teknologi Indonesia. ALL Rights Reserved.
                                                </span>
                                            </font>
                                        </td>
                                    </tr>
                                </table>

                                <!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>
                            </td>
                        </tr>
                        <!--footer END-->
                        <tr>
                            <td>
                                <!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
                            </td>
                        </tr>
                    </table>
                    <!--[if gte mso 10]>
                    </td></tr>
                    </table>
                    <![endif]-->

                </td>
            </tr>
        </table>

    </div> 
    <script type="text/javascript">
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
