@model IEnumerable<DataModel.DMHoliday>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Date</th>
                    <th>Description</th>
                    <th>Cut Leave</th>
                   
                    <th></th>
                    <th></th>


                </tr>
            </thead>

            <tbody id="tBLItems">

                @foreach (DataModel.DMHoliday DMaster in Model)
                {
                    <tr>

                        <td>@DMaster.HolidayDate</td>
                        <td>@DMaster.HolidayName</td>
                        <td>@DMaster.CutLeave</td>
                       


                        <td><input type="image" src="~/Assets/Images/setup.png" height="30px" width="30px" /> </td>
                        <td><a href="~/Admin/Employee/NewEmployee?id=@DMaster.ID"><input type="image" src="~/Assets/Images/file-edit-png.png" height="30px" width="30px" /></a> @*data-toggle="modal" data-target="#newitems" />*@ </td>
                        <td><input type="image" src="~/Assets/Images/file_delete.png" onclick="deleteEmp(@DMaster.ID)" height="30px" width="30px" /> </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
}
else
{
    <label>No Data Found(s)</label>
}
<script type="text/javascript">
        $(document).ready(function () {
            $("#loading").hide();
        });
        function deleteHoliday(id) {
            $("#dvLoader").show();
            $.ajax({
                url: "/Admin/Employee/DeleteEmployee",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({ EMPID: id }),
                cache: false
            }).success(function (data) {
                $("#EmployeeTable").empty();
                $("#EmployeeTable").html(data);
                $("#dvLoader").hide();

            });

        }
        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 50,
                    showPrevNext: false,
                    hidePageNumbers: false
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };

        $(document).ready(function () {

            $('#tBLItems').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 50 });

        });
</script>


